<tr>
    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
        <div class="flex px-2 py-1">
            <div class="flex flex-col justify-center">
                <h6 class="mb-0 text-sm leading-normal">Soft UI XD Version</h6>
            </div>
        </div>
    </td>
    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
        <div class="flex px-2 py-1">
            <div class="flex flex-col justify-center">
                <h6 class="mb-0 text-sm leading-normal">21/3/2025</h6>
            </div>
        </div>
    </td>
    <td
        class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap">
        <span class="text-xs font-semibold leading-tight"> 30/3/2025 </span>
    </td>
    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
        <div class="w-3/4 mx-auto">
            <div>
                <div>
                    <span class="text-xs font-semibold leading-tight">60%</span>
                </div>
            </div>
            <div
                class="text-xs h-0.75 w-30 m-0 flex overflow-visible rounded-lg bg-gray-200">
                <div class="duration-600 ease-soft bg-gradient-to-tl from-blue-600 to-cyan-400 -mt-0.38 -ml-px flex h-1.5 w-3/5 flex-col justify-center overflow-hidden whitespace-nowrap rounded bg-fuchsia-500 text-center text-white transition-all"
                    role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </td>
</tr>