        <li>
            <a href="<%-href%>" class="inline-flex items-center pl-7 w-60 py-3 <%- isActive ? "bg-blue-700 text-white ":"bg-white text-dark" %> rounded-lg active">
                <%-name%>
            </a>
        </li>