<div class="overflow-x-auto shadow-md sm:rounded-lg mx-5 mt-10">
    <table class="w-full text-sm text-left rtl: text-gray-500 dark:text-gray-400">
        <%- include("../components/orders/tableHeaderOrder.ejs") %>
        <tbody>
            <%- include("../components/orders/tableItemOrder.ejs") %>
        </tbody>
    </table>
</div>