<div class="relative overflow-x-auto">
    <div class="grid grid-cols-5 bg-gray-100 text-gray-700 uppercase font-semibold py-3 px-3 rounded-t-lg">
        <div>Name</div>
        <div>Email</div>
        <div>Admin</div>
        <div>Block</div>
        <div>Action</div>
      </div>
        <% locals?.data.forEach((item)=>{ %>
            <%- include("./usersTable.ejs",{ data:item }) %>
        <% }) %>
</div>