<!-- Modal toggle -->
<button data-modal-target="default-modal" data-modal-toggle="default-modal"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center "
    type="button">
    Toggle modal
</button>

<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[999] justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm ">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t  border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 ">
                    add new year
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center :hover:bg-gray-600 :hover:text-white"
                    data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form method="post" action="target/add">
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <div class="mb-6">
                        <div class="relative">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name KPIs</label>
                            <input id="name" name="name" type="text"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                placeholder="name of kpis">
                        </div>
                    </div>
                    <div class="mb-6">
                        <label for="userResponse" class="block mb-2 text-sm font-medium text-gray-900">choose user</label>
                        <select id="userResponse" name="userResponse" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected disabled>Choose a User</option>
                        </select>
                    </div>
                    <div class="mb-6">
                        <div class="relative">
                            <label for="startDate" class="block mb-2 text-sm font-medium text-gray-900">Start date</label>
                            <input id="startDate" name="startDate" datepicker datepicker-format="dd-mm-yyyy" type="text"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                placeholder="Select date">
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="relative">
                            <label for="endDate" class="block mb-2 text-sm font-medium text-gray-900">End date</label>
                            <input id="endDate" name="endDate" datepicker datepicker-format="dd-mm-yyyy" type="text" readonly
                                class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b justify-center w-full">
                    <button data-modal-hide="default-modal" type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("startDate").addEventListener("click",()=>{
        document.querySelector(".datepicker.datepicker-dropdown.dropdown.absolute.top-0.left-0.z-50.pt-2.active.block.datepicker-orient-bottom.datepicker-orient-left").style.zIndex = 999;
    })
    
</script>
<script src="/assets/api/getUsers.js" type="module"></script>
<script>
    let startDateInput = document.getElementById("startDate");
    let previousValue = startDateInput.value; // Store initial value
    let endDateInput = document.getElementById("endDate");
    startDateInput.addEventListener("focusout", (event) => {
        let newValue = event.target.value;

        if (newValue !== previousValue) { // Check if value has changed
            console.log("Value changed from", previousValue, "to", newValue);
            previousValue = newValue; // Update stored value

            let dateFromInput = Date.parse(newValue);
            if (!isNaN(dateFromInput)) {
                let endDate = new Date(dateFromInput);

                endDate.setMonth(endDate.getMonth() + 3);

                endDateInput.value = formatDate(endDate);
            } else {
                console.log("Invalid date input");
            }
        } else {
            console.log("Value has not changed.");
        }
    });
    function formatDate(date) {
        return date.toISOString().split('T')[0];
    }
</script>
