<% let sideBarItem="../../views/components/sideBarItem.ejs" %>
    <li class="w-full mt-4">
        <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase opacity-60">Account pages
        </h6>
    </li>
    <%- include(sideBarItem,{ link:"/Profile", icon:"<span class='material-symbols-outlined'>Person</span>",
        title:"Profile",
        activePath:activePage
        }) %>