<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr class="">
                <th scope="col" class="px-6 py-3">
                    name
                </th>
                <th scope="col" class="px-6 py-3">
                    weight
                </th>
                <th scope="col" class="px-6 py-3">
                    departments
                </th>
                <th scope="col" class="px-6 py-3">Action</th>
            </tr>
        </thead>
        <tbody>
            <% locals?.data.forEach((item)=>{ %>
                <%- include("./termsTable.ejs",{
                data:item
                }) %>
            <% }) %>
        </tbody>
    </table>
    <ul id="tableBody" class="w-full">
        <li class="bg-white border-b border-gray-200" id="lastInput">
            <div class="text-blue-600 hover:border-b-blue-500 hover:cursor-pointer  p-3" id="addNewInput">
                add new Departments
            </div>
        </li>
    </ul>
</div>
<script src="/assets/api/admin/terms/addNewInput.js" ></script>
<script src="/assets/api/admin/terms/addRowOfDepartment.js"></script>
<script src="/assets/api/admin/terms/departmentAPI.js"></script>